*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1{
  position: relative;
  color: #fff;
  font-size: 100px;
  text-align: center;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}